# RabbitMQ config
RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_SMS_QUEUE=sms_queue

# SMS provider config
SMS_API_URL=
SMS_API_KEY=
SMS_FROM_NUMBER=AXEDZ

# Database config
DB_NAME=comm-db
DB_USER=myuser
DB_PASSWORD=mypassword
DB_HOST=db
DB_PORT=5432

# Logging
LOG_LEVEL=info
