# RabbitMQ 
RABBITMQ_URL=amqp://user:password@localhost
RABBITMQ_EMAIL_QUEUE=email_queue

# Database 
DB_NAME=comm-db
DB_USER=myuser
DB_PASSWORD=mypassword
DB_HOST=db
DB_PORT=5432

# Email Provider 
EMAIL_FROM=no-reply@axedz.com
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USER=your-email-user
EMAIL_PASSWORD=your-email-password

# Logging
LOG_LEVEL=info
